[Tt]humbs.db
*.DS_Store

*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.lock
*.ide
*.ide-shm
*.ide-wal
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

[Bb]uild/

.svn

~$*

monodroid*.msi
/CompiledContent/Android/IgnoreMe.dll
/CompiledContent/OSX/IgnoreMe.dll
/CompiledContent/Windows8/IgnoreMe.dll
/CompiledContent/Windows/IgnoreMe.dll
*.cachefile
*.dll
*.VC.db
*.VC.opendb

artifacts/

GameDevelopment\Content

bin/
obj/

Content/bin/
Content/obj/

.vs/